{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Sistema del docente</h1>
        <h1 class="display-1 text-center "> Checo Perez</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quisquam fugiat corporis. Ducimus recusandae itaque enim, obcaecati incidunt eos laborum alias nobis, beatae dolorem officiis expedita exercitationem neque! Autem, exercitationem.</p>
        <div class="text-center">
            <br>
                <a class="btn btn-dark" href="/signin/">
                    Iniciar sesion
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Registrate
                </a>
                <br>
            </div>
    </section>
</main>
{% endblock %}